body{
    font-family: 'Marcellus', serif;
}
.header-style{
  
    margin-top: 100px;
    
    
}



.nav-item a{
    color: white;
    margin-right: 5px;
}

.featured-section{
    margin-top: 50px;
}
.card {
    margin-left: 55px;
}

.gray-scale {
    filter: grayscale(1);
}
/* btn styles */
.orange-btn-outline{
    border-color: #E76F51;
    color: #E76F51;
  }

.btn-normal{
    background-color: #E76F51;
    color: white;
}

.btn-logout {
    margin-left: 50px;
    color: white;
    background-color: #E76F51;
}
.btn-purchase {
    width: 100px;
    
    color: white;
    background-color: #E76F51;
}
.rating{
    color: #E77C40;;
}